body {
    max-width: 100vw;
}

header {
      background-color: #C0B9E2;
      color: #1E1137;
      text-align: center;
      margin: 0 auto;
      padding: 16px;
}

main {
      background-color: #1E1137;
      color: #C0B9E2;
      margin: 0 auto;
      padding: 16px;
      display: flex;
}
article{
      display: flex;

      border: 1px solid #1E1137;

      margin: 16px;
      gap: 16px;
      padding: 16px;

}

img {
    width: 80px;
    height: 80px;
}

.artigo-autor {
     font-weight: bold;

}